$color-purple:#5e72e4;
$color-second-purple:#825ee4;
$color-dark:#152746;
$color-white:#ffffff;
$color-red:#f5365c;
$color-txt:#8898aa;
$main-bg:#f8f9fe;

$color-primary: #202749;
$color-background: #202749;
$color-blue: #00f;
$color-ligher: #e9ecef;

$color-green: #2dce89;
$color-paleblue:#5e72e4;
$color-gray:#adb5bd;
$color-black: #212529;
$color-red:#f5365c;
$color-sky:#11cdef;

