$color-primary: #ff5b5a;
$screen-width: 414px;
$screen-dark-width: 414px;

$primary-color: #202749;

$color-background: #202749;
$comment-color: rgba(72, 96, 181, 0.31);

@mixin box-show {
  -webkit-box-shadow: 0px 0px 16px -13px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 16px -13px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 16px -13px rgba(0, 0, 0, 0.4);
}

$size: 39px;
