.create-status {
    background: white;
    margin: 0px auto;
    width: 70%;
    border-radius: 5px;
    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 30px 20px;
        h3 &__control {
            min-width: 20%;
            display: flex;
            justify-content: space-around;
        }
    }
    .form-title {
        padding-left: 30px;
        color: gray;
        font-size: 15px;
    }
    .form-body {
        width: 100%;
        padding: 20px;
        &__row {
            display: flex;
            justify-content: flex-start;
            height: 100px;
            div {
                width: 35%;
                margin-right: 15px;
            }
            input,
            select {
                width: 100%;
            }
        }
    }
}