.form-version{
    .form-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        padding:30px 20px ;
    }
    .form-body{
        max-width: 50%;
        width: auto;
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding:30px; 
    }
}