.form-priority {
    .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        padding: 30px 20px;
    }
    .form-body {
        max-width: 100%;
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;
        div {
            margin-right: 15px;
            width: 25%;
        }
        input,
        select {
            width: 100%;
        }
    }
}