.create-project {
  background: white;
  margin: 0px auto;
  border-radius: 10px;
  margin-top: 150px;
  max-width: 60%;
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
    h3
    &__control {
      min-width: 20%;
      display: flex;
      justify-content: space-around;
    }
  }
  .form-title{
    padding-left: 30px ;
    color: gray;
    font-size: 15px;
  }
  .form-body {
    width: 100%;
    padding: 20px;
    padding-left: 70px;
    &__row{
      display: flex;
      height: 120px;
    }
    &__row:last-child{
        width: 50%;
    }
  }
}
