@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');
body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1024px) {
    .main-layout {
        &__content {
            margin-left: 0px !important;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-layout {
        &__content {
            margin-left: 0px !important;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .sidebar {
        display: none;
    }
    .Search {
        display: none;
    }
    .avatar-icon__notify {
        display: none;
    }
    .header {
        .icon-toggle {
            display: block;
        }
    }
    table.table {
        overflow: auto !important;
    }
}

@media screen and (max-width: 600px) {
    .main-layout {
        &__content {
            margin-left: 0px !important;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .header {
        .icon-toggle {
            display: block;
        }
    }
    .sidebar {
        display: none;
    }
    .Search {
        display: none;
    }
    .avatar-icon__notify {
        display: none;
    }
    table.table {
        overflow: auto !important;
    }
}