@import "../../assets/scss/variable";
.priority-page {
    margin: 30px;
    margin-top: 150px;
  .filter-priority {
    border-radius: 10px;
    background-color:white;
    margin: 30px auto;
  }
  .list-priority {
    border-radius: 10px;
    background: $color-white;
    &__header{
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:40px;
    }
  }
}
